<% foundcaches = Cache.where("found = ?", 1) %>
<h4>Meilensteine</h4>
<table class="table">
<tr>
	<th>Meilenstein</th>
	<th>Gefunden</th>
	<th>Cache</th>
	<th>Abstand zum vorherigen Meilenstein in Tagen</th>
</tr>
<tr><td><%= foundcaches.first.id %></td><td>9.9.99</td><td><%= foundcaches.first.name %></td><td>0</td></tr>
<tr><td><%= foundcaches.last.id %></td><td>9.9.99</td><td><%= foundcaches.last.name %></td><td>0</td></tr>
</table>
