<% foundcaches = Cache.where("found = ?", 1) %>
<h4>Meilensteine</h4>
<table class="table">
<tr>
	<th>Meilenstein</th>
	<th>Gefunden</th>
	<th>Cache</th>
	<th>Abstand zum vorherigen Meilenstein in Tagen</th>
</tr>
<% foundcaches.each_with_index do |cache, index|
	if ((index+1) % 50 == 0) || ((index+1) == 1) || (index+1 == foundcaches.length) %>
<tr><td><%= index+1 %></td><td><%= Time.at(cache.logdate).strftime('%d.%m.%Y') %></td><td><%= cache.name %></td><td>0</td></tr>
<% end
   end %>	
</table>
