<%
# Stores cachetypes and counts in a hash
lastindex = 0
cachehash = Hash.new
Cache.select(:size).distinct.each do |cache|
	cachehash[cache.size] = Cache.where(size: cache.size).length
end

# Sorts the hash descending by counts
# Unfortunately, sort_by isn't working as mutable function, so the self reference
cachehash = cachehash.sort_by {|_key, value| value}.reverse.to_h
%>
<h4>Gefundene Behälter</h4>
<table class="table table-condensed">
<% cachehash.each_with_index do |(key, value),index|
	lastindex = index %>
	<% if (index == 0) || (index % TABLE_WIDTH == 0) %>
	<tr>
	<% end %>
	<td>
	<%= sizeicon(key) %> <%= sizestats(key)[0] %> (<%= sizestats(key)[1] %>%)</td></td>
	<% if (index % TABLE_WIDTH == TABLE_WIDTH-1) %>
	</tr>
	<% end %>
<% end %>
	<% (TABLE_WIDTH-(lastindex % TABLE_WIDTH)).times do |dummy| %>
		<td></td>
	<% end %>
	</tr>
</table>